body {
    background-color: white;
/*    color: black;*/
/*    font-size: 12px;*/
    margin: 0 auto;
/*    height: 100%;*/
/*    overflow-x: hidden;*/
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.centerDiv{
    /*display: flex;
    align-items: center;
    flex-direction: column;*/
/*    align-content: center;*/
/*    justify-content: center;*/
/*    height: 100vh;*/
}

.moreAboutDiv{
    margin: 20px 70px 0 70px;
}

.bioText1{
    text-align: left;
    font-size: 40px;
}

.bioText2{
    text-align: right;
    margin-top: 60px;
    font-size: 40px;

}
.bioText3{
    text-align: left;
    margin-top: 60px;
    font-size: 40px;

}

.moreInfoBoldText2{
    font-size: 40px;
}



.otherAwardsDiv{
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

/*.topBar{
    width: 100%;
    height: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #F8F8F8, #FFFFFF);
}*/

.topBar {  
/*    box-shadow: 0 0 20px rgb(0 0 0 / 5%);*/
    position: fixed;
    top: 0;
    width: 100%;
    height: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #F8F8F8, #FFFFFF);
    z-index: 1000; /* Убедитесь, что шапка поверх другого контента */
}

.mainCover{
    width: 900px;
    height: 667px;
}

/*.mainCoverArtist{
    width: 667px;
    height: 667px;
}*/

.topCDRAlogo{
    width: 246px;
    height: 46px;
}

.mainCoverDiv{
/*    margin-top: 300px;*/
    margin-top: 196px;
    width: 100%;
/*    height: 100%;*/
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoDiv{
    width: 100%;
/*    height: 100%;*/
    background-color: #FFFFFF;
    align-items: center;
}

.swipeForNextDiv{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
/*    margin-bottom: 50px;*/
/*    margin-top: 200px;*/
}

h1{  
    text-align: center;
    font-size: 70px;
    font-family: 'ClarendonTBol Regular', serif;
    font-weight: normal;
    color: #260041;
    margin: 0 0 0 0;
}
h2{  
    text-align: center;
    font-size: 40px;
    font-family: 'ClarendonTMed Regular', serif;
    font-weight: normal;
    color: #260041;
    margin: 0 0 0 0;
}
h3{  
    text-align: center;
    font-size: 70px;
    font-family: 'ClarendonTBolExp Regular', serif;
    font-weight: normal;
    color: #260041;
    margin: 0 0 0 0;
}

h4{  
    text-align: center;
    font-size: 60px;
    font-family: 'ClarendonTLig Regular', serif;
    font-weight: normal;
    color: #260041;
    margin: 0 0 0 0;
}

.moreInfoDiv{
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.moreInfoMainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*    height: 400vh;*/

}

.moreInfoMainDiv2{
    margin-right: 200px;
    width: 624px;
}

.moreInformationText{
    margin-bottom: 40px;
    margin-top: 108px;

}

.moreInfoMainDiv15{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
/*    height: 400vh;*/

}

.moreInfoTitles{
    margin-top: 20px;

}

.moreInfoLightTextStreams{
    margin: 0 18px 0px 14px;
    font-size: 50px;

}

.text500000{
    font-size: 60px;
}

.moreInfoLightTexts{
    margin: 8px 0px 0px 0px;
}

.moreInfoBoldText{
    margin: 8px 0px 0px 0px;
}
.moreInfoBoldText2{
    margin: 8px 0px 0px 0px;
        font-size: 50px;
}

.linkSvg{
    width: 38px;
    height: 38px;
}

.lastStreamsTextDiv{
    display: flex;
    align-items: center;
    margin: 8px 0px 10px 0px;
}
.lastStreamsTextDiv3{
    display: flex;
    align-items: center;
    margin: 100px 0px 10px 0px;
    justify-content: center;
}

.lastStreamsTextDiv2{
    display: flex;
    align-items: center;
    margin: 8px 0px 0px 0px;
}

.artistMain{
    /*width: 624px;
    height: 624px;*/
    width: 500px;
    height: 500px;
}

.text1{
    margin: 80px 0 0 0;
}

.text1_1{
    margin: 10px 0 0 0;
}

.text2{
    margin: 21px 0 0 0;
}

.text2_2{
    margin: 5px 0 0 0;
}

.text3{
    margin: 4px 0 0 0;
    font-size: 50px;
}

.text4{
    margin: 50px 0 0 0;
}

.text5{
    margin: 13px 0 0 0;
}

.text6{
    margin: 5px 0 0 0;
    font-size: 55px;
}

.text7{
    margin: 40px 0 0 0;
    font-size: 30px;
}

.textOtherAwards{
    margin: 50px 0 0 0;
    font-size: 30px;
}

.downSvg{
    width: 66px;
    height: 74px;
    margin: 23px 0 0 0;
}















/* Оригинальные медиа-запросы для мобильных */
/*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ /*FOR PHONES*/ 




@media (min-device-width: 1px) and (min-width: 1px) {
}

/*@media (min-device-width: 320px) and (max-device-width: 345px) {
    .swipeForNextDiv{
        margin-bottom: 250px;
    }
}
@media (min-device-width: 345px) and (max-device-width: 375px) {
    .swipeForNextDiv{
        margin-bottom: 300px;
    }
}
@media (min-device-width: 375px) and (max-device-width: 440px) {
    .swipeForNextDiv{
        margin-bottom: 60px;
    }
}
@media (min-device-width: 425px) and (max-device-width: 750px) {
    .swipeForNextDiv{
    }
}*/


/*@media (min-device-height: 850px) {

    .swipeForNextDiv{
    }
}*/

@media (max-device-height: 667px) {
    .swipeForNextDiv{
        margin-top: 0px;
    }
}

@media (min-device-height: 668px) and (max-device-height: 932px) {
    .swipeForNextDiv{
        margin-top: 10px;
    }
}

@media (min-device-height: 932px){
    .swipeForNextDiv{
        margin-top: 150px;
    }
}


@media (max-device-height: 850px) {
    .mainCover{
        width: 800px;
        height: 593px;
    }
    .text1{
        margin: 40px 0 0 0;
        font-size: 30px;
    }
    .text1_1{
        margin: 5px 0 0 0;
        font-size: 30px;
    }

    .text2{
        margin: 6px 0 0 0;
        font-size: 60px;
    }

    .text3{
        margin: 2px 0 0 0;
        font-size: 40px;
    }

    .text4{
        margin: 35px 0 0 0;
        font-size: 30px;
    }

    .text5{
        margin: 5px 0 0 0;
        font-size: 60px;
    }

    .text6{
        margin: 0px 0 0 0;
        font-size: 45px;
    }

    .text7{
        font-size: 25px;
    }

    .downSvg{
        width: 45px;
        height: 50px;
        margin: 11.5px 0 0 0;
    }
    .swipeForNextDiv{
/*        margin-top: 100px;*/
    }

/*SECTION 2*//*SECTION 2*//*SECTION 2*//*SECTION 2*//*SECTION 2*/



    .moreInfoDiv{
        margin-top: 15px;
    }

    .moreInformationText{
        margin-bottom: 40px;
/*        font-size: 30px;*/

    }

    .moreInfoTitles{
        font-size: 30px;

    }

    .moreInfoLightTexts{
        margin: 4px 0px 0px 0px;
        font-size: 50px;
    }

    .moreInfoBoldText{
        margin: 4px 0px 0px 0px;
        font-size: 60px;
    }

    .moreInfoBoldText2{
        margin: 4px 0px 0px 0px;
        font-size: 50px;
    }

    .artistMain{
        width: 400px;
        height: 400px;
    }


/*SECTION 3*//*SECTION 3*//*SECTION 3*//*SECTION 3*//*SECTION 3*/

    .text500000{
        font-size: 60px;
    }

    .moreInfoLightTextStreams{
        margin: 0 9px 0px 7px;
        font-size: 40px;

    }

    .text2_2{
        font-size: 60px;
    }

    .linkSvg{
        width: 30px;
        height: 30px;
    }

    .lastStreamsTextDiv{
        margin: 4px 0px 5px 0px;
    }

    .lastStreamsTextDiv3{
/*        margin: 4px 0px 5px 0px;*/
    }

    .lastStreamsTextDiv2{
        margin: 4px 0px 162.5px 0px;
    }



    .bioText1{
        font-size: 40px;
    }
    .bioText2{
        font-size: 40px;
        margin-top: 50px;
    }
    .bioText3{
        font-size: 40px;
        margin-top: 50px;
    }
    .moreInfoBoldText2{
        font-size: 40px;
    }

    .lastStreamsTextDiv3{
        margin: 50px 0px 5px 0px;
    }
}


/*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*/



@media (min-device-height: 750px) and (max-device-height: 850px) {
    .mainCover{
        width: 850px;
        height: 630px;
    }
    .text1{
        margin: 50px 0 0 0;
        font-size: 35px;
    }
    .text1_1{
        margin: 5px 0 0 0;
        font-size: 35px;
    }

    .text2{
        margin: 11px 0 0 0;
        font-size: 65px;
    }

    .text2_2{
        margin: 4px 0 0 0;
        font-size: 55px;
    }

    .text3{
        margin: 7px 0 0 0;
        font-size: 45px;
    }

    .text4{
        margin: 45px 0 0 0;
        font-size: 35px;
    }

    .text5{
        margin: 10px 0 0 0;
        font-size: 65px;
    }

    .text6{
        margin: 0px 0 0 0;
        font-size: 50px;
    }

    .text7{
        font-size: 30px;
    }

    .downSvg{
        width: 54px;
        height: 60px;
        margin: 11.5px 0 0 0;
    }
    .swipeForNextDiv{
/*        margin-top: 150px;*/
    }

/*SECTION 2*//*SECTION 2*//*SECTION 2*//*SECTION 2*//*SECTION 2*/

    .moreInfoDiv{
        margin-top: 20px;
    }

    .moreInformationText{
        margin-bottom: 40px;
/*        font-size: 35px;*/

    }

    .moreInfoTitles{
        font-size: 35px;

    }

    .moreInfoLightTexts{
        margin: 4px 0px 0px 0px;
        font-size: 55px;
    }

    .moreInfoBoldText{
        margin: 4px 0px 0px 0px;
        font-size: 60px;
    }

    .moreInfoBoldText2{
        margin: 4px 0px 0px 0px;
        font-size: 50px;
    }

    .artistMain{
        width: 450px;
        height: 450px;
    }


/*SECTION 3*//*SECTION 3*//*SECTION 3*//*SECTION 3*/



/*SECTION 4*//*SECTION 4*//*SECTION 4*//*SECTION 4*/


    .bioText1{
        font-size: 40px;
    }
    .bioText2{
        font-size: 40px;
        margin-top: 50px;
    }
    .bioText3{
        font-size: 40px;
        margin-top: 50px;
    }

    .lastStreamsTextDiv3{
        margin: 50px 0px 5px 0px;
    }
    
}


/*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*//*MEDUIM PHONES*/




/* Адаптация для больших экранов (500px и выше) */
/*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ /*ДЛЯ ПК*/ 





@media (min-device-width: 500px) {

    .swipeForNextDiv{
        margin-top: 50px;
    }

    .moreInfoMainDiv2{
        margin-right: 100px;
        width: 312px;
    }

    .moreInfoDiv{
        margin-top: 0px;
    }

    .moreInformationText{
/*        margin-top: 300px;*/
        margin-bottom: 20px;

    }
    .bioText1{
        font-size: 25px;
    }
    .bioText2{
        font-size: 25px;
    margin-top: 40px;
    }
    .bioText3{
        font-size: 25px;
    margin-top: 40px;
    }

    .moreAboutDiv{
        width: 450px;
    }

    .moreInfoTitles{
    margin-top: 10px;

    }

    .moreInfoLightTextStreams{
        margin: 0 9px 0px 7px;
        font-size: 25px;

    }

    .text500000{
        font-size: 30px;
    }

    .moreInfoLightTexts{
        margin: 4px 0px 0px 0px;
    }

    .moreInfoBoldText{
        margin: 4px 0px 0px 0px;
    }
    .moreInfoBoldText2{
        margin: 0px 0px 0px 0px;
        font-size: 25px;
    }


    .linkSvg{
        width: 19px;
        height: 19px;
    }

    .lastStreamsTextDiv{
        margin: 4px 0px 5px 0px;
    }

    .lastStreamsTextDiv3{
        margin: 80px 0px 0px 0px;
    }

    .lastStreamsTextDiv2{
        margin: 4px 0px 162.5px 0px;
    }

    .artistMain{
        width: 312px;
        height: 312px;
    }


    .mainCoverDiv{
        margin-top: 98px;
    }
    .topBar{
        height: 98px;
    }
    .mainCover{
        margin-top: 100px;
        width: 450px;
        height: 333px;
    }
    .mainCoverArtist{
        margin-top: 100px;
        width: 450px;
        height: 450px;
    }

    .topCDRAlogo{
        width: 123px;
        height: 23px;
    }
    h1{  
        font-size: 35px;
    }
    h2{  
        font-size: 20px;
    }
    h3{  
        font-size: 35px;
    }
    h4{  
        font-size: 30px;
    }
    .text1{
        margin: 40px 0 0 0;
    }
    .text1_1{
        margin: 20px 0 0 0;
    }

    .text2{
        margin: 10.5px 0 0 0;
    }

    .text3{
        margin: 2px 0 0 0;
        font-size: 25px;
    }

    .text4{
        margin: 35px 0 0 0;
    }

    .text5{
        margin: 6.5px 0 0 0;
    }

    .text6{
        margin: 2.5px 0 0 0;
        font-size: 27.5px;
    }

    .text7{
        margin: 50px 0 0 0;
        font-size: 15px;
    }

.downSvg{
    width: 33px;
    height: 37px;
    margin: 11.5px 0 0 0;
}
}

